.page-content {
  display: flex;
  /*grid-template-columns: 100px 1fr;*/
  border: 1px solid black; 
  /*padding-top: 60px;*/
}

.side-bar-container {
  border: 2px solid black;/**/
  position: fixed;
  top: 70px;
  bottom:0;
  left:0;
  width:70px;
  background-color: white;
}
/*Thumbnail-Grid*/
.video-grid {
  margin-left: 70px;
  padding-left: 25px;
  padding-top: 25px;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 270px));
  column-gap: 18px;
  row-gap: 18px;
  background-color: rgb(173, 170, 170);
  flex-shrink: 1;
}

.video-container {
  flex: 1;
  height: 300px;
  border: 1px solid black;
  background-color: white;
}






/*Vertical Top div container*/


/*Vertical Top div container/ Image div sub container-1*/

.image-container{
  height: 145px;
  width:100%;/**/
  /*margin: 0px 2px 2px 0px;*/
  /*border: 2px solid blue;*/
  background-color: lightcoral;
  position: relative;
}

.video-time {
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding:3px 6px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,Arial, sans-serif; /* Default font family */
  font-size: 13px;
  font-weight: 500; /* Default font size */
  background-color: black;
  color: white;
  border-radius: 2px;
}


/*Vertical Top div container/ Image div sub container-1/Thumbnail Image*/

/*Image*/
.video-thumbnail{
  width: 100%;
  height: 100%;
  /*margin: 3px 0px 2px 0px;*/
}

/*vertical-videoInfo-container-2*/


