.sunset-img {
  width:300px;
  height: 300px;
  border-radius: 50% /* To be defined */;
  object-fit: /* To be defined */;
  object-position:center; /* To be defined */;
  margin-left: 50px;
} 

.search-bar {
  padding:12px 80px 12px 8px;
  width: 10%;
  border: 2px solid lightgrey;
  border-radius: 3px;
}